body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
	color: #262626;
	font-family: sans-serif;
	font-size: 45px;
	border: 5px solid #262626;
	padding: 40px 80px;
	position: relative;
	overflow: hidden;
}

a:before {
	content: '';

	position: absolute;
	left: 0;
	bottom: 50%;

	background-color: #1353d2;
	height: 100%;
	width: 100%;
	z-index: -1;
	transform-origin: bottom left;
 	transform: rotate(-90deg);

	/*KI1: Gives us a chance to do a smooth transitions*/
	/*transition: transform 1s;*/
}

a:after {
	content: '';
	position: absolute;
	left: 100%;
	top: 100%;

	background-color: #dfdb0e;
	height: 100%;
	width: 100%;
	z-index: -2;
	transform-origin: top left;

	/*KI1: Gives us a chance to do a smooth transitions*/
	/*transition: transform 1s;*/
}


a:hover:before {
	transform: rotate(0deg);
}

a:hover:after {
	transform: rotate(-180deg);
}
